*{
    margin: 0;
    padding: 0;
    background-color: #fff;
}
.navbar{
    position: relative;
    top: 0;
    left: 0;
    width: 100%;
    height: 75px;
    border-bottom: solid #999 1px;
}
.icon{
    width: 200px;
    float: left;
    height: 70px;
    justify-content: center;
    align-items: center;
    display: flex;
    margin-left: 30px;
}
.icon p{
    margin-left: 10px;
    font-size: 20px;
}
.logo{
    height: 69px;
    width: auto;
    padding: 2px 0;
    display: flex;
}
.menu{
    width: 400px;
    float: left;
    height: 70px;
    justify-content: space-between;
}
ul{
    float: left;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 170px;
}
ul li{
    list-style: none;
    margin-left: 50px;
    margin-top: 27px;
    font-size: 14px;
}
ul li a{
    text-decoration: none;
    color: #000;
    font-family: Arial;
    font-weight: bold;
    transition: 0.2s ease-in-out;
}
ul li a:hover{
    color: #f26440;
    text-decoration: underline;
}
  
/*-----------------------button------------------------*/
.button-container {
    display: flex;
    float: left;
    justify-content: center;
    align-items: center;
    margin-left: 350px;
    margin-top: 18px;
}
  
.button {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    color: #000;
    font-size: 16px;
    font-weight: 400;
    padding: 10px 20px;
    text-decoration: none;
    transition: background-color 0.2s ease-in-out;
}
.button:hover{
    color: #1da1f2;
}
.button i {
    margin-right: 10px;
    background: transparent;
}
.button-container button{
    width: 150px;
    height: 30px;
    background-color: #fff;
    border: solid 1px #f26420;
    border-radius: 15px;
    cursor: pointer;
}
.button-container button:hover{
    background-color: #f26420;
}
.button-container a{
    color: #000;
    background: transparent;
    text-decoration: none;
}
/***************************************************/
form {
	background-color: #f5f5f5;
	padding: 40px;
	border-radius: 5px;
    margin: 20px auto;
    width: 70%;
    
}

label {
	display: block;
	font-weight: bold;
	margin-bottom: 5px;
    margin-left: 12px;
    background: transparent;
}

input[type="text"],
textarea,
select,
input[type="number"] {
	padding: 10px;
	border-radius: 5px;
	border: 1px solid #ddd;
	width: 100%;
	margin-bottom: 23px;
	box-sizing: border-box;
    margin-left: 8px;
}

input[type="file"] {
    display: flex;
    padding: 10px;
    background: transparent;
    margin-left: 10px;
    margin-bottom: 20px;
}

button[type="submit"] {
	background-color: #4CAF50;
	color: white;
	padding: 10px 20px;
	border: none;
	border-radius: 5px;
	cursor: pointer;
    margin-left: 10px;
}
/*****************************************/
#error{
    color: red;
    background-color:rgb(249, 110, 110);
    text-align: center;
    font-size: 18px;
    padding: 5px;
}